h4{
    font-family: sans-serif;
}
.top20{
    padding-top:20px;
}
#today{
    color:red;
}
.calenderTable td:hover{
    cursor: pointer;
    background-color: #ff9800;
    color:#fff;
}
.daysOfWeek,.days{
    text-align: center;
}
.list-group-item-text{
    color:#985A00;
}
.list-group-item{
    margin-top: 9px;
    box-shadow: 5px 5px 5px #f0f0f0;
}
.hasEvent{
    border-bottom: #ff9800 3px solid;
}

